# MIDAS IIIT-D Summer Internship Task 1

## Python Problem

### Problem Statement -

You have to write a python script which can fetch all the tweets(as many as allowed by Twitter API) done by 'midas@IIITD' twitter handle and dump the responses into JSONlines file.

The other part of your script should be able to parse these JSONline files to display the following for every tweet in a tabular format.
- The text of the tweet.
- Date and time of the tweet.
- The number of favorites/likes.
- The number of retweets.
- Number of Images present in Tweet. If no image returns None.

## Index

1. [Importing libraries](#importing_libraries)
2. [API Credentials](#api_credentials)
3. [Getting ready for scraping twitter](#getting_started)
4. [Scrape tweets](#scrape_tweets)
5. [Save JSONLines file](#save_jsonl)
6. [Parse JSONLines file](#parse_jsonl)
7. [Display Table](#display_table)

<a id='importing_libraries'></a>
<hr>

### Importing libraries
- pandas for tabular data formatting 
- tweepy for accessing Twitter API
- json for writing and parsing JSONL files

In [1]:
import os
import pandas as pd
import tweepy 
from tweepy import OAuthHandler
import json

<a id='api_credentials'></a>

### Getting Twitter API keys and credentials from environment variables

In [2]:
ACCESS_TOKEN = os.getenv('ACCESS_TOKEN')
ACCESS_TOKEN_SECRET = os.getenv('ACCESS_TOKEN_SECRET')
CONSUMER_KEY = os.getenv('CONSUMER_KEY')
CONSUMER_SECRET = os.getenv('CONSUMER_SECRET')

<a id='getting_started'></a>

### Getting started with scraping twitter data

- Define a class which initialises tweepy client object using api keys
- Member function get_tweets() takes a twitter username as input and scrapes all tweets of that user
- Tweets are scraped in batches of 100 so that the Twitter API is not abused

In [3]:
class fetchTweets():
    def __init__(self):
        try:
            auth = OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
            auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
            
            self.api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
            
            '''
            initialising an api object from tweepy using our credentials
            '''

        except tweepy.TweepError as e:
            print(f'Error: Twitter Authentication Failed - {str(e)}')
            
    def get_tweets(self, screen_name):
        '''
        This function receives a twitter username as input and 
        scrapes all tweets for that specific user.
        all_tweets is a list containing all tweet objects
        We save the ID of last scraped tweet for every iteration 
        and use that as a reference to downlaod
        tweets which haven't yet been scraped.
        '''
        all_tweets = []
        
        new_tweets = self.api.user_timeline(screen_name=screen_name, count=100, tweet_mode='extended')
        
        all_tweets.extend(new_tweets)
        
        oldest = all_tweets[-1].id - 1
        
        while len(new_tweets) > 0:
            print(f"Getting tweets before {oldest}")
            
            new_tweets = self.api.user_timeline(screen_name=screen_name, count=100, max_id=oldest, tweet_mode='extended')
            
            all_tweets.extend(new_tweets)
            
            oldest = all_tweets[-1].id - 1
            
            print(f"{len(all_tweets)} tweets have been scraped")
        return all_tweets

### Initialising our fetchTweets class object

In [4]:
twitter = fetchTweets()

<a id='scrape_tweets'></a>

### Call member function on object to start scraping all tweets of @midasIIITD

In [5]:
tweets = twitter.get_tweets('midasIIITD')

Getting tweets before 1087712199836033023
200 tweets have been scraped
Getting tweets before 1037401364471508991
296 tweets have been scraped
Getting tweets before 1021377705084739583
296 tweets have been scraped

In [6]:
# sanity check - ensuring we're getting right data for a random tweet
tweets[8]._json['entities']

{'hashtags': [{'text': 'PortfolioCreationinDesign', 'indices': [39, 65]}],
 'symbols': [],
 'user_mentions': [{'screen_name': 'hcdiiitd',
   'name': 'Human-Centered Design (IIITDelhi)',
   'id': 1090887196754640896,
   'id_str': '1090887196754640896',
   'indices': [3, 12]}],
 'urls': []}

### Define a function to save tweets in a JSONLines file

- JSONLines also called newline-delimited JSON. JSON Lines is a convenient format for storing structured data that may be processed one record at a time.
- Each Line is a Valid JSON Value
- Line Separator is '\n'

In [7]:
def save_jsonl(tweets):
    '''
    This function takes as input a list of tweets.
    Tweepy represents these tweets as a list of Status objects.
    In every iteration we parse the status object and extract the json data.
    The json data is inserted in the file 'tweets.jsonl' with a '\n' separator 
    to make it JSONLines compatible.
    '''
    with open('tweets.jsonl', 'w') as f:
        for tweet in tweets:
            json.dump(tweet._json, f)
            f.write('\n')

In [8]:
save_jsonl(tweets)

The tweets have been saved in a file 'tweets.jsonl' inside the current directory.
The file can be parsed like so

In [9]:
# The data of 'tweets.jsonl' file can be parsed as below
# with open('tweets.jsonl') as f:
#     for line in f:
#         print(line)

os.listdir()

['.ipynb_checkpoints', 'tweets_scraper.ipynb', 'tweets.jsonl']

As we can see, a new file is created which contains all scraped tweets in jsonl format

### Define a function to parse jsonl file
- This function parses the jsonl file line by line and saves the required data in a dictionary

In [10]:
def parse_jsonl(filename):
    '''
    This function receives a jsonl file as input.
    It parses this jsonl file line by line and
    saves only the relevant details of each 
    tweet in a dictionary called tweets_dict.
    '''
    tweets_dict = {}
    
    with open(filename) as f:
        for line in f:
            tweet = json.loads(line)
            images = tweet['entities'].get('media', [])
            tweets_dict.setdefault('text', []).append(tweet['full_text'])
            tweets_dict.setdefault('datetime', []).append(tweet['created_at'])
            tweets_dict.setdefault('favorite_count', []).append(tweet['favorite_count'])
            tweets_dict.setdefault('retweet_count', []).append(tweet['retweet_count'])
            tweets_dict.setdefault('media', []).append(len(images))

    return tweets_dict

### Define a function to display table 
- This function takes a dictionary as input and creates a dataframe using it
- It then cleans the data and returns the dataframe in a presentable form

In [11]:
def display_table(tweets_dict):
    '''
    This function takes a dictionary as input.
    Data cleaning involves ordering the columns
    because dictionary is an unordered object in Python.
    0 Images are mapped to None and new line operators 
    are replaced by spaces.
    '''
    df = pd.DataFrame.from_dict(tweets_dict)
    ordered_columns = ['text', 'datetime', 'favorite_count', 'retweet_count', 'media']
    df = df.reindex(columns=ordered_columns)
    df = df.replace('\n', ' ', regex=True)
    df['media'] = df['media'].map({0: 'None'}).fillna(df['media'])
    df['datetime'] = pd.to_datetime(df['datetime'])
    
    return df

In [12]:
parsed_tweets = parse_jsonl('tweets.jsonl')

In [13]:
table = display_table(parsed_tweets)

In [14]:
table

,text,datetime,favorite_count,retweet_count,media
0,@IEEEBigMM19 is also available on Facebook now...,2019-03-20 08:19:24+00:00,1,1,None
1,RT @IEEEBigMM19: BigMM 2019 : IEEE BigMM 2019 ...,2019-03-20 02:40:07+00:00,0,4,None
2,BigMM 2019 : IEEE BigMM 2019 – Call for Worksh...,2019-03-18 02:27:47+00:00,6,3,None
3,"Congratulations @midasIIITD team, Rohan, Prady...",2019-03-17 14:22:04+00:00,15,4,None
4,We have emailed the task details to all shortl...,2019-03-16 14:06:56+00:00,6,0,None
5,IEEE BigMM 2019 - Call for Workshop Proposals....,2019-03-16 09:20:29+00:00,1,1,None
6,"Congratulations! Arijit, Ramit, @debanjanbhucs...",2019-03-16 09:14:58+00:00,7,2,None
7,We will be releasing a very interesting task t...,2019-03-16 05:13:14+00:00,7,2,None
8,RT @hcdiiitd: Last day to register for #Portfo...,2019-03-13 17:09:44+00:00,0,2,None
9,@ACMMM19 @sigmm @TheOfficialACM @acmmmsys @ACM...,2019-03-13 04:11:24+00:00,1,0,1
10,RT @ACMMM19: The paper deadline is approaching...,2019-03-13 04:06:04+00:00,0,13,None
11,RT @kaggle: Bookmark this amazing library of i...,2019-03-12 17:43:44+00:00,0,69,None
12,Awesome members of our @midasIIITD team who ar...,2019-03-12 14:37:55+00:00,16,4,1
13,"@saanidhi @ACMMM19 Before Friday, 15th March.",2019-03-11 14:58:30+00:00,0,0,None
14,We are glad to inform that Adobe is launching ...,2019-03-11 12:02:42+00:00,4,0,None
15,We will email tasks to all shortlisted candida...,2019-03-11 11:54:38+00:00,3,0,None
16,@ACMMM19 @ACM_MM2018 @acmmm17 @sigmm @ACM Less...,2019-03-11 06:22:12+00:00,1,1,None
17,RT @kdnuggets: Face Recognition using One-Shot...,2019-03-11 06:17:20+00:00,0,64,None
18,@AvinashSwamina2 @IIITDelhi No. They will be g...,2019-03-08 13:22:07+00:00,1,0,None
19,We are in the process of finalizing the shortl...,2019-03-08 13:15:34+00:00,8,4,None
20,@ylecun @NilayShri @the_dhumketu @debanjanbhuc...,2019-03-06 13:44:11+00:00,3,0,None
21,RT @kdnuggets: Python Data Science for Beginne...,2019-03-06 11:12:30+00:00,0,22,1
22,RT @stanfordnlp: Useful feature of our Python ...,2019-03-03 19:36:04+00:00,0,35,None
23,"@NilayShri @NilayShri, Certain thing! The next...",2019-03-03 17:09:48+00:00,1,0,None
24,"At @midasIIITD, we not only work hard but also...",2019-03-03 15:37:28+00:00,9,1,1
25,Considering several requests to extend the dea...,2019-03-03 14:55:31+00:00,6,2,None
26,RT @jeremyphoward: 39 studies about human perc...,2019-03-03 14:26:40+00:00,0,315,None
27,Correction: @midasIIITD at @IIITDelhi,2019-03-02 17:43:05+00:00,1,0,None
28,Thanks much to all aspirants who have applied ...,2019-03-02 09:59:03+00:00,7,1,None
29,RT @kdnuggets: Keras Hyperparameter Tuning in ...,2019-02-28 14:21:21+00:00,0,4,1
...,...,...,...,...,...
266,RT @TensorFlow: TensorFlow 1.10.0 has been rel...,2018-08-09 05:59:57+00:00,0,265,None
267,@midasIIITD is looking for motivated IIITD MTe...,2018-08-08 11:30:56+00:00,2,1,None
268,@IIITDelhi @ponguru @RatnRajiv The results of ...,2018-08-08 05:53:48+00:00,3,1,1
269,RT @IIITDelhi: @midasIIITD has secured rank 1 ...,2018-08-08 05:45:58+00:00,0,1,None
270,RT @kdnuggets: Comparison of Top 6 Python NLP ...,2018-08-07 07:16:33+00:00,0,40,1
271,Check more details of the 20th IEEE Internatio...,2018-08-07 02:05:12+00:00,1,1,None
272,MR2AMC@ISM 2018 will be organized by @RatnRaji...,2018-08-07 01:58:49+00:00,1,1,None
273,"Our workshop proposal named, ""MR2AMC: Multimod...",2018-08-07 01:50:33+00:00,1,1,None
274,@NUSComputing Congratulations Abdelhak and Pro...,2018-08-06 17:48:23+00:00,0,0,None
275,RT @goodfellow_ian: One of the most anticipate...,2018-08-06 17:46:59+00:00,0,103,1
276,@the_dhumketu Great to have you in @midasIIITD,2018-08-06 06:06:47+00:00,0,0,None
277,Congratulation @soujanyaporia for being appoin...,2018-08-03 05:56:33+00:00,6,1,None
278,@IIITDelhi @the_dhumketu Thanks team @midasIII...,2018-08-01 11:47:15+00:00,5,1,1
279,RT @IIITDelhi: Congratulations @midasIIITD int...,2018-08-01 11:20:07+00:00,0,4,None
280,RT @learning_pt: Profile of the 5 Indian under...,2018-08-01 05:06:47+00:00,0,4,None
281,Have a look at the list of accepted papers in ...,2018-07-31 12:11:52+00:00,1,0,None
282,RT @goodfellow_ian: https://t.co/hYiWI7ntyk Te...,2018-07-31 02:06:26+00:00,0,264,None
283,RT @IIITDelhi: Congratulations Dr. @RatnRajiv ...,2018-07-30 07:30:51+00:00,0,2,None
284,"RT @ylecun: Jitendra Malik, who directs FAIR-M...",2018-07-28 11:07:11+00:00,0,57,None
285,RT @kdnuggets: .@Bloomberg launches free cours...,2018-07-28 06:14:09+00:00,0,105,None
286,RT @TechAtBloomberg: Missed #PyLondinium18? Wa...,2018-07-28 06:13:48+00:00,0,7,None
287,RT @IIITDelhi: We are delighted to announce th...,2018-07-28 04:08:21+00:00,0,6,None
288,Get ready for the annual technical fest of @II...,2018-07-27 06:46:44+00:00,3,2,None
289,Congratulations Dr. @RatnRajiv and team @midas...,2018-07-27 04:07:31+00:00,8,2,None
290,Congratulations MIDAS @midasIIITD intern Prakh...,2018-07-25 05:14:35+00:00,5,1,None
291,MIDAS@IIITD foundation. https://t.co/LKuzyBHzjm,2018-07-24 10:33:23+00:00,2,1,None
292,It feels great to be the part of @IIITDelhi. h...,2018-07-24 10:12:34+00:00,2,1,None
293,"Thank you, @toonzratn for designing the logo o...",2018-07-24 09:46:26+00:00,4,1,1
294,We are on Facebook too. Like our page to get o...,2018-07-23 16:25:05+00:00,3,1,None
295,MIDAS is a group of researchers at IIIT-Delhi ...,2018-07-23 12:53:15+00:00,7,4,None